  <div>Template Start</div>

  <% posts = [
  {
  }
  ]
   %>

  <% 10.times do %>
   <%= render 'some_partial' %>
  <% end %>

  <%= image_tag "kotik.png" %>
  <div class="image"></div>

  <div>Template End</div>
